alabaster==1.0.0
babel==2.17.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
cssselect2==0.8.0
docutils==0.21.2
idna==3.10
imagesize==1.4.1
importlib_metadata==8.7.0
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==3.0.2
packaging==24.2
pillow==11.2.1
Pygments==2.19.1
PyYAML==6.0.2
reportlab==4.4.2
requests==2.32.3
roman-numerals-py==3.1.0
rst2pdf==0.103.1
smartypants==2.0.2
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
svglib==1.5.1
tinycss2==1.4.0
urllib3==2.4.0
webencodings==0.5.1
zipp==3.23.0
